<div class="col-sm">
    <h1 class="uni page-title">LET’S GET YOUR RESULTS</h1>
    <form>
        <div class="form-group">
            <label for="owernDob">Owner's Date of Birth</label>
            <input 
                type="date" 
                class="form-control" 
                id="owernDob" 
                maxlength="12" 
                size="12"
                placeholder="">
        </div>
        <div class="form-group">
            <label for="percentOwner">Percentage of Company Ownership</label>
            <input 
                type="number" 
                class="form-control" 
                id="percentOwner" 
                maxlength="12" 
                size="12"
                placeholder="">
        </div>
        <div class="form-group">
            <label for="ownrSocial">Owner's Social Security Number</label>
            <input type="tel" 
                class="form-control" 
                id="ownrSocial"
                maxlength="12"
                size="12" 
                placeholder="XXX XX XXXX">
        </div>
        <div class="form-group">
            <label for="taxId">TIN - Tax ID Number (optional)</label>
            <input type="tel" 
                class="form-control" 
                id="taxId"
                maxlength="12" 
                size="12" 
                placeholder="XXX XX XXXX">
        </div>
        <div class="form-group">
            <label for="legalStructure">Legal Structure</label>
            <select id="legalStructure" class="form-control custom-select custom-select-md">
                <option selected>Select</option>
                <option value="Corporation">Corporation</option>
                <option value="Limited Liability Company">Limited Liability Company</option>
                <option value="Professional Association">Professional Association</option>
                <option value="Sole Proprietorship">Sole Proprietorship</option>
                <option value="General Partnership">General Partnership</option>
                <option value="Limited Partnership">Limited Partnership</option>
                <option value="Professional Corporation">Professional Corporation</option>
            </select>
        </div>
    </form>
</div>
    