<div class="col-sm">
    <h1 class="uni page-title">LET’S GROW YOUR BUSINESS.</h1>
    <form>
        <div class="form-group">
            <label for="activationCode">Enter Your Activation Code</label>
            <input type="tel" 
                class="form-control" 
                id="activationCode"
                maxlength="26" 
                size="26" 
                placeholder="XXXX XXXX XXXX XXXX">
        </div>
        <div class="form-group">
            <label for="businessZip">Business Zip Code</label>
            <input 
                type="tel" 
                class="form-control" 
                id="businessZip" 
                maxlength="12" 
                size="12"
                placeholder="">
        </div>
        <div class="form-group">
            <label for="businessPhone">Business Phone</label>
            <input 
                type="tel" 
                class="form-control" 
                id="businessPhone" 
                maxlength="18" 
                size="18"
                placeholder="">
                <small id="businessPhoneHelp" class="form-text text-muted help-text">Please read our <a href="#">Terms and Conditions and Privacy Policy</a></small>
        </div>
        <div class="form-group">
            <label for="businessEmail">Business Email Address</label>
            <input 
                type="email" 
                class="form-control w-100" 
                id="businessEmail"
                placeholder="">
        </div>
    </form>
</div>
    