<div class="col-sm">
    <h1 class="uni page-title">WE HAVE A FEW MORE QUESTIONS</h1>
    <form>
        <div class="form-group">
            <label for="businessTime">Time in Business</label>
            <select id="businessTime" class="form-control custom-select custom-select-md">
                <option value="">Select</option>
                <option value="-1">Less than 1 year</option>
                <option value="1-2">1 – 2 years</option>
                <option value="2-3">Greater than 2 – 3 years</option>
                <option value="3-5">Greater 3 – 5 years</option>
                <option value="5-10">Greater than 5 – 10 years</option>
                <option value="10+">More than 10 years</option>
            </select>
        </div>
        <div class="form-group">
            <label for="annualRevenue">Annual Revenue</label>
            <select id="annualRevenue" class="form-control custom-select custom-select-md">
                <option value="">Select</option>
                <option value="-74k">Less than $74,999</option>
                <option value="75-99k">$75,000 to $99,999</option>
                <option value="100-299k">$100,000 to $299,999</option>
                <option value="300-499k">$300,000 to $499,999</option>
                <option value="500-999k">$500,000 to $999,999</option>
                <option value="1m+">Greater than $1 million</option>
            </select>
        </div>
        <div class="form-group">
            <label for="amountRequested">Amount Requested</label>
            <input 
                type="tel" 
                class="form-control" 
                id="amountRequested" 
                maxlength="12" 
                size="12"
                placeholder="$">
                <small id="amountRequested" class="form-text text-muted help-text">Please enter an amount between $5,000 and $2,000,000</small>
        </div>
        <div class="form-group">
            <label for="industry">Industry</label>
            <select id="industry" class="form-control custom-select custom-select-md">
                <option value="" >Select</option>
                <option value="Advertising Agency">Advertising Agency</option>
                <option value="Automotive">Automotive</option>
                <option value="Bar/Nightclub">Bar/Nightclub</option>
                <option value="Beauty/Nail Salon">Beauty/Nail Salon</option>
                <option value="Civic and Social Associations">Civic and Social Associations</option>
                <option value="Construction">Construction</option>
                <option value="Distributor">Distributor</option>
                <option value="Dry Cleaner">Dry Cleaner</option>
                <option value="Entertainment">Entertainment</option>
                <option value="Flower Shop">Flower Shop</option>
                <option value="Furniture">Furniture</option>
                <option value="Gas Station">Gas Station</option>
                <option value="Healthcare">Healthcare</option>
                <option value="Home-based">Home-based</option>
                <option value="Import/Export">Import/Export</option>
                <option value="Internet-only">Internet-only</option>
                <option value="Management Consultant">Management Consultant</option>
                <option value="Manufacturing">Manufacturing</option>
                <option value="Real Estate">Real Estate</option>
                <option value="Restaurant">Restaurant</option>
                <option value="Retail">Retail</option>
                <option value="Services">Services</option>
                <option value="Specialty">Specialty</option>
                <option value="Technology">Technology</option>
                <option value="Transportation">Transportation</option>
                <option value="Wholesaler">Wholesaler</option>
                <option value="Other">Other</option>
            </select>
        </div>
        <div class="form-group">
            <label for="businessName">Business Name</label>
            <input 
                type="text" 
                class="form-control w-100" 
                id="businessName"
                placeholder="">
        </div>
        <div class="form-group">
            <label for="ownerName">Owner's Name</label>
            <input 
                type="text" 
                class="form-control w-100" 
                id="ownerName"
                placeholder="">
        </div>
        <div class="form-group">
            <label for="businessNameSame">Do you do business under a different name?</label>
            <div id="businessNameSame" class="custom-control custom-checkbox">
                <div class="form-row">
                    <div class="col">
                        <input data-showwhat="dba-wrapper" type="checkbox" class="custom-control-input" id="yesBusinessName">
                        <label class="custom-control-label" for="yesBusinessName">Yes</label>
                    </div>
                    <div class="col">
                        <input type="checkbox" class="custom-control-input" id="noBusinessName">
                        <label class="custom-control-label" for="noBusinessName">No</label>
                    </div>
                </div>
            </div>
        </div>
        <div id="dba-wrapper" class="form-group display-toggle-wrapper no-show">
            <label for="businessDba">What is your legal business name (DBA)?</label>
            <input 
                type="text" 
                class="form-control w-100" 
                id="businessDba"
                placeholder="">
        </div>
        <div class="form-group">
            <label for="businessAdress">Business Address</label>
            <input 
                type="text" 
                class="form-control w-100" 
                id="businessAdress"
                placeholder="">
        </div>
        <div class="form-group">
            <label for="businessAdressSame">Is your business address the same as your Home address?</label>
            <div id="businessAddressSame" class="custom-control custom-checkbox">
                <div class="form-row">
                    <div class="col">
                        <input type="checkbox" class="custom-control-input" id="yesAddrSame">
                        <label class="custom-control-label" for="yesAddrSame">Yes</label>
                    </div>
                    <div class="col">
                        <input data-showwhat="home-addr" type="checkbox" class="custom-control-input" id="noAddrSame">
                        <label class="custom-control-label" for="noAddrSame">No</label>
                    </div>
                </div>
            </div>
        </div>
        <div id="home-addr" class="form-group display-toggle-wrapper no-show">
            <label for="homeAdress">Home Address</label>
            <input 
                type="text" 
                class="form-control w-100" 
                id="homeAdress"
                placeholder="">
        </div>
        <div class="form-group">
            <label for="businessTakeCc">Does your business accept credit cards?</label>
            <div id="businessTakeCc" class="custom-control custom-checkbox">
                <div class="form-row">
                    <div class="col">
                        <input data-showwhat="homeaddr-wrapper" type="checkbox" class="custom-control-input" id="yesCc">
                        <label class="custom-control-label" for="yesCc">Yes</label>
                    </div>
                    <div class="col">
                        <input type="checkbox" class="custom-control-input" id="noCc">
                        <label class="custom-control-label" for="noCc">No</label>
                    </div>
                </div>
            </div>
        </div>
        <div id="homeaddr-wrapper" class="display-toggle-wrapper no-show">
            <div class="form-group">
                <label for="maxCreditReceipts">Average monthly credit card receipts in the last 3 months:</label>
                <input 
                    type="text" 
                    class="form-control w-100" 
                    id="maxCreditReceipts"
                    placeholder="">
            </div>
            <div class="form-group">
                <label for="minCreditReceipts">Lowest monthly credit card receipts in the last 3 months:</label>
                <input 
                    type="text" 
                    class="form-control w-100" 
                    id="minCreditReceipts"
                    placeholder="">
            </div>
        </div>
    </form>
</div>
    