<div class="col-sm">
    <h1 class="uni page-title">LET’S GET YOUR RESULTS</h1>
    <form>
        <div class="form-group">
            <label for="owernDob">Owner's Date of Birth</label>
            <input 
                type="text" 
                class="form-control" 
                id="owernDob" 
                maxlength="12" 
                size="12"
                placeholder="">
        </div>
        <div class="form-group">
            <label for="percentOwner">Percentage of Company Ownership</label>
            <input 
                type="text" 
                class="form-control" 
                id="percentOwner" 
                maxlength="12" 
                size="12"
                placeholder="">
        </div>
        <div class="form-group">
            <label for="ownrSocial">Owner's Social Security Number</label>
            <input type="text" 
                class="form-control" 
                id="ownrSocial"
                maxlength="12"
                size="12" 
                placeholder="XXX XX XXXX">
        </div>
        <div class="form-group">
            <label for="taxId">TIN - Tax ID Number (optional)</label>
            <input type="text" 
                class="form-control" 
                id="taxId"
                maxlength="12" 
                size="12" 
                placeholder="XXX XX XXXX">
        </div>
        <div class="form-group">
            <label for="legalStructure">Legal Structure</label>
            <select id="legalStructure" class="form-control custom-select custom-select-md">
                <option selected>Select</option>
                <option value="1">Structure One</option>
                <option value="2">Structure Two</option>
                <option value="3">Structure Three</option>
                <option value="4">Structure Four</option>
                <option value="5">Structure Five</option>
            </select>
        </div>
    </form>
</div>
    