<nav class="nav mt-3 mb-3">
    <a class="nav-link {{stepOne}}">
        <span class="circle">1</span>
        <p>Activate Account</p>
    </a>
    <a class="nav-link {{stepTwo}}">
        <span class="circle">2</span>
        <p>Business Information</p>
    </a>
    <a class="nav-link {{stepThree}}">
        <span class="circle">3</span>
        <p>Get Results</p>
    </a>
</nav>