<nav class="nav mt-3 mb-3">
    <a class="nav-link {{stepOne}}" href="#">
        <span class="circle">1</span>
        <p>Activate</p>
    </a>
    <a class="nav-link {{stepTwo}}" href="#">
        <span class="circle">2</span>
        <p>Business Information</p>
    </a>
    <a class="nav-link {{stepThree}}" href="#">
        <span class="circle">3</span>
        <p>Get Results</p>
    </a>
</nav>