{{!-- <div class="container"> --}}

    <div class="container">
        <div class="row trust-wrapper mb-4">
            <div class="trust-badge col text-right">
                <img  src="../img/bbb.jpg" alt="Accolades">
            </div>
            <div class="trust-badge col pt-2">
                <img  src="../img/yelp.jpg" alt="Accolades">
            </div>
            <div class="trust-badge col text-left pt-2">
                <img  src="../img/trust-pilot.jpg" alt="Accolades">
            </div>
        </div>
    </div>
    <div class="row w-100 bg-light p-3 m-0 secure-ribbon">
        <div class="col-12">
            <div class="row trust-wrapper mb-4">
            <div class="trust-badge col-4 text-right pt-3">
                <img style="max-width: 50px" src="../img/ssl-lock.svg" alt="Accolades">
            </div>
            <div class="trust-badge col-2 pt-2">
                <img src="../img/shield-lock.png" alt="Accolades">
            </div>
            <div class="trust-badge col-6 pt-2">
                <span>Advanced Security<br>
                <a href="#">Learn More</a></span>
            </div>
        </div>
        </div>
        <div class="container text-center">
            <div class="row">
                <div class="col pl-4 pr-4">
                    <p>The process of handling data is very important to us. <a href="#">Learn about our Data Security</a>. Loans made or arranged pursuant to California Finance Lenders Law License #6039614.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container law-text">
        <div class="row">
            <div class="col p-5 text-center">
                <p>Federal law requires all financial institutions to obtain, verify, and record information that identifies each person who applies for a loan to help the government fight the funding of terrorism and money laundering activities. What this means for you : When you apply for a loan, we will ask for your name, address, date of birth, and other information that will allow us to identify you. We may also ask to see your driver’s license or other identifying documents.</p>
                <p>© 2018 ForwardLine Financial, LLC. All rights reserved.</p>
                <p>In certain states small business loans are provided by ForwardLine Financial, LLC, a licensed California Finance Lender, license #6039614. In certain other states or because of certain loan attributes, your business loan may be issued by FinWise Bank, a Utah-chartered bank, Member FDIC. All business loans are subject to lender approval. Your loan agreement will clearly identify the lender.</p>
                <p><a href="#"><strong>ForwardLine Terms &amp; Conditions &amp; Privacy Policy</strong></a></p>
            </div>
        </div>
    </div>

{{!-- </div> --}}